* @RomanBrodetski @EmilLuta @popzxc @mm-zk
.github/release-please/** @matter-labs/core-release-managers
**/CHANGELOG.md @matter-labs/core-release-managers
CODEOWNERS @RomanBrodetski @EmilLuta @popzxc @mm-zk
.github/workflows/** @matter-labs/devops
