name: Release binaries

permissions:
  contents: write
  id-token: write
  attestations: write

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to use for the release."
        type: string
        required: true
  workflow_call:
    inputs:
      tag:
        description: "Tag to use for the release."
        type: string
        required: true
  push:
    branches:
      - release-bins

env:
  ZKSYNC_OS_PROVER_BIN: 'zksync-os-prover-service'
  RELEASE_PROFILE: 'release'

defaults:
  run:
    shell: 'bash -ex {0}'

jobs:
  # Build prover binary for all target platforms
  build-bins:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ubuntu-22.04 based high performance runner, CPU prover
          - runner: matterlabs-ci-runner-high-performance
            target: x86_64-unknown-linux-gnu
            gpu: false
          # Ubuntu-22.04 based high performance runner, GPU prover
          - runner: matterlabs-ci-runner-ultra-performance
            target: x86_64-unknown-linux-gnu
            gpu: true

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ inputs.tag || '' }}

      - name: Setup runner
        uses: ./.github/actions/runner-setup

      - name: Install linux packages
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt update && sudo apt --assume-yes install \
            curl jq libssl-dev libclang-dev pkg-config build-essential
          if [[ "${{ matrix.target }}" == "aarch64-unknown-linux-gnu" ]]; then
            sudo dpkg --add-architecture arm64
            sudo apt --assume-yes install libssl-dev:arm64
          fi

      - name: Install Rust toolchain
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        env:
          # To fix rate limiting issues with GitHub API
          GITHUB_TOKEN: ${{ github.token }}
        with:
          inherit-toolchain: true
          cache: false

      - name: Check CUDA version
        if: matrix.gpu
        run: |
          nvcc --version

      - name: Checkout era-bellman-cuda
        if: matrix.gpu
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: matter-labs/era-bellman-cuda
          ref: main
          path: bellman-cuda
          fetch-depth: '1'

      - name: Cache bellman-cuda
        if: matrix.gpu
        id: bellman-cuda-cache
        uses: actions/cache@v4
        with:
          path: 'bellman-cuda/build'
          key: bellman-cuda-${{ hashFiles('bellman-cuda/**') }}

      - name: Build bellman-cuda
        shell: 'bash -ex {0}'
        if: steps.bellman-cuda-cache.outputs.cache-hit != 'true' && matrix.gpu
        run: |
          cmake -Bbellman-cuda/build -Sbellman-cuda/ -DCMAKE_BUILD_TYPE=Release
          cmake --build bellman-cuda/build/

      - name: Build
        env:
          # Build static binaries
          RUSTFLAGS: '-C target-feature=+crt-static'
          BELLMAN_CUDA_DIR: ${{ github.workspace }}/bellman-cuda
        run: |
          if [[ "${{ matrix.gpu }}" == "true" ]]; then
              cargo build --profile "${RELEASE_PROFILE}" \
                --target "${{ matrix.target }}" --bin "${ZKSYNC_OS_PROVER_BIN}" --features gpu
          else
              cargo build --profile "${RELEASE_PROFILE}" \
                --target "${{ matrix.target }}" --bin "${ZKSYNC_OS_PROVER_BIN}"
          fi
          

      - name: Prepare tarballs
        run: |
          mv ./target/${{ matrix.target }}/${RELEASE_PROFILE}/${ZKSYNC_OS_PROVER_BIN} ./${ZKSYNC_OS_PROVER_BIN}
          tar -czf ${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-${{ matrix.target }}-${{ matrix.gpu == 'true' && 'gpu' || 'cpu' }}.tar.gz \
              ${{ env.ZKSYNC_OS_PROVER_BIN }}

      - name: Upload binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-${{ matrix.target }}-${{ matrix.gpu == 'true' && 'gpu' || 'cpu' }}.tar.gz
          path: ${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-${{ matrix.target }}-${{ matrix.gpu == 'true' && 'gpu' || 'cpu' }}.tar.gz

  # Attach binaries to the GitHub release
  release-bins:
    needs: [build-bins]
    # Run on macOS to combine binaries into a single one for macOS
    runs-on: macos-latest-xlarge
    steps:

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ inputs.tag || '' }}

      - name: Download binaries
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: ${{ env.ZKSYNC_OS_PROVER_BIN }}-*.tar.gz
          path: dist
          merge-multiple: true

      - name: Create universal macOS binary
        run: |
          find .
          for TARGET in x86_64-apple-darwin aarch64-apple-darwin; do
            tar xzf dist/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-${TARGET}-cpu.tar.gz
            mv ${{ env.ZKSYNC_OS_PROVER_BIN }} ${{ env.ZKSYNC_OS_PROVER_BIN }}-${TARGET}-cpu
            rm -f dist/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-${TARGET}-cpu.tar.gz
          done
          lipo -create -o "${{ env.ZKSYNC_OS_PROVER_BIN }}" \
            ${{ env.ZKSYNC_OS_PROVER_BIN }}-x86_64-apple-darwin-cpu ${{ env.ZKSYNC_OS_PROVER_BIN }}-aarch64-apple-darwin-cpu
          tar -czf dist/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-universal-apple-darwin-cpu.tar.gz \
            ${{ env.ZKSYNC_OS_PROVER_BIN }}

      - name: Upload binaries
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-universal-apple-darwin-cpu.tar.gz
          path: dist/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-universal-apple-darwin-cpu.tar.gz

      - name: Binaries attestation
        id: attestation
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: 'dist/**'

      - name: Upload artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload "${{ inputs.tag }}" dist/* --clobber

      - name: Update release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          REALASE_BODY=$(gh release view "${{ inputs.tag }}" --json body -q '.body')
          BINARIES_SECTION=$(cat <<- "ENDBODY"
          ## Binaries
          
          | System | Architecture | Binary | Attestation |
          |:---:|:---:|:---:|:---|
          | <img src="https://www.svgrepo.com/download/448236/linux.svg" width="50"/> | x86_64 (GPU) | [${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-x86_64-unknown-linux-gnu-gpu.tar.gz](https://github.com/${{ github.repository }}/releases/download/${{ inputs.tag }}/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-x86_64-unknown-linux-gnu-gpu.tar.gz) | [Attestation](${{ steps.attestation.outputs.attestation-url }}) |
          | <img src="https://www.svgrepo.com/download/448236/linux.svg" width="50"/> | x86_64 (CPU) | [${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-x86_64-unknown-linux-gnu-cpu.tar.gz](https://github.com/${{ github.repository }}/releases/download/${{ inputs.tag }}/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-x86_64-unknown-linux-gnu-cpu.tar.gz) | [Attestation](${{ steps.attestation.outputs.attestation-url }}) |
          | <img src="https://www.svgrepo.com/download/448236/linux.svg" width="50"/> | aarch64 (CPU) | [${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-aarch64-unknown-linux-gnu-cpu.tar.gz](https://github.com/${{ github.repository }}/releases/download/${{ inputs.tag }}/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-aarch64-unknown-linux-gnu-cpu.tar.gz) | [Attestation](${{ steps.attestation.outputs.attestation-url }}) |
          | <img src="https://www.svgrepo.com/download/475429/apple.svg" width="50"/> | universal (CPU) | [${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-universal-apple-darwin-cpu.tar.gz](https://github.com/${{ github.repository }}/releases/download/${{ inputs.tag }}/${{ env.ZKSYNC_OS_PROVER_BIN }}-${{ inputs.tag }}-universal-apple-darwin-cpu.tar.gz) | [Attestation](${{ steps.attestation.outputs.attestation-url }}) |
          ENDBODY
          )
          echo -e "${REALASE_BODY}\n\n${BINARIES_SECTION}" > updated_body.md
          gh release edit "${{ inputs.tag }}" --notes-file updated_body.md
